[submodule "rcm"]
	path = modules/rcm
	url = .
	branch = rcm
[submodule "kmarek-dotfiles-skel-shell-drop-in"]
	path = modules/kmarek-dotfiles-skel-shell-drop-in
	url = .
	branch = kmarek-dotfiles-skel-shell-drop-in
[submodule "kmarek-dotfiles-skel-ssh-drop-in"]
	path = modules/kmarek-dotfiles-skel-ssh-drop-in
	url = .
	branch = kmarek-dotfiles-skel-ssh-drop-in
[submodule "kmarek-dotfiles-skel-ssh-checkproxy-drop-in"]
	path = modules/kmarek-dotfiles-skel-ssh-checkproxy-drop-in
	url = .
	branch = kmarek-dotfiles-skel-ssh-checkproxy-drop-in
[submodule "kmarek-dotfiles-skel-vim-drop-in"]
	path = modules/kmarek-dotfiles-skel-vim-drop-in
	url = .
	branch = kmarek-dotfiles-skel-vim-drop-in
[submodule "kmarek-dotfiles-shared-bash-debug-hook"]
	path = modules/kmarek-dotfiles-shared-bash-debug-hook
	url = .
	branch = kmarek-dotfiles-shared-bash-debug-hook
[submodule "kmarek-dotfiles-shared-bash-history"]
	path = modules/kmarek-dotfiles-shared-bash-history
	url = .
	branch = kmarek-dotfiles-shared-bash-history
[submodule "kmarek-dotfiles-shared-bash-prompt"]
	path = modules/kmarek-dotfiles-shared-bash-prompt
	url = .
	branch = kmarek-dotfiles-shared-bash-prompt
[submodule "kmarek-dotfiles-shared-bash-util-tac"]
	path = modules/kmarek-dotfiles-shared-bash-util-tac
	url = .
	branch = kmarek-dotfiles-shared-bash-util-tac
[submodule "kmarek-dotfiles-shared-bash-util-escape"]
	path = modules/kmarek-dotfiles-shared-bash-util-escape
	url = .
	branch = kmarek-dotfiles-shared-bash-util-escape
